<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
		<a href="#" class="navbar-brand">Bloc Chat</a>
    
		<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		
		<div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right">
					<button class="btn btn-default navbar-btn" type="button" ng-click="home.addRoom(roomName)">Add a Room</button>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Rooms <b class="caret"></b></a>
						
						<ul class="dropdown-menu">
							<li ng-Repeat="room in home.rooms">
								<a href="#" ng-click="home.setCurrentRoom(room)">{{ room.name }}</a>
							</li>
						</ul>
					</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>

<div class="chat-area">
		<h3 class="current-room">{{ home.currentRoom.name }}</h3>
		<div class="messages" ng-repeat="message in home.messages">
				<div class="username">{{ message.username }}</div>
				<div class="usermessage">{{ message.content }}</div>
				<div class="usertimestamp" am-time-ago="{{ message.sentAt }}"></div>
		</div>
</div>

<form class="message-form" ng-show="home.showMessage">
		<div class="message-body" id="message-body">
						<b style="color: white;">Add a message.</b><br>
						<input id="message-input" type="textarea" name="input" ng-model="content"><br>
		</div>
		<div class="message-footer">
				<input type="submit" value="Submit" class="new-message-button" type="button" ng-click="home.createNewMessage(content)" />	
		</div>
</form>